.footer {
    background-color: var(--azul-marinho);
    border-top: 1px solid var(--preto);
    padding: 1rem;
}

.footer__info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 0.4rem;
    margin: 0.2rem 0;
}

.footer__icon img {
    width: 1.5rem;
    height: 1.5rem;
}

.footer__info_icon {
    margin: 1rem 0;
    display: flex;
    gap: 0.4rem;
    flex-direction: column;
}

.mail__icon {
    width: 1.5rem;
    height: auto;
}

.mail {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.icons {
    display: flex;
    flex: row;
    gap: 1rem
}

.footer p {
    color: var(--branco);
    font-size: 1.2rem;
    font-weight: 700;
}

@media (min-width: 1024px) {
    .footer__icon img {
        width: 1.5rem;
        height: 1.5rem;
    }

    .footer__info_icon {
        margin: 0.5rem 0 1rem;
        display: flex;
        gap: 1rem;
        flex-direction: column;
    }

    .footer__texto {
        font-size: 1.2rem;
    }

    .footer p {
        font-size: 1.5rem;
    }

}

@media (min-width: 1800px) {
    .footer__icon img {
        width: 3rem;
        height: 3rem;
    }

    .footer__info_icon {
        margin: 0.5rem 0 1rem;
        display: flex;
        gap: 1rem;
    }

    .footer__texto {
        font-size: 2rem;
    }

    .footer p {
        font-size: 2.5rem;
    }

    .mail__icon {
        width: 3rem;
        height: auto;
    }
}