.jogos {
    background-repeat: no-repeat;
    position: relative;
}

.jogos::before {
    content: "";
    /* Conteúdo vazio para o pseudo-elemento */
    position: absolute;
    /* Posicionamento absoluto para a imagem de fundo */
    top: 20%;
    /* Alinhado ao topo do container pai */
    left: 50%;
    /* Alinhado à metade da largura do container pai */
    width: 100%;
    /* Largura do pseudo-elemento */
    height: 100%;
    /* Altura do pseudo-elemento */
    background-image: url("../img/quadradro.png");
    /* Imagem de fundo */
    background-size: 100vw;
    /* Tamanho da imagem de fundo */
    background-repeat: no-repeat;
    /* Não repetir a imagem de fundo */
    background-position: center;
    /* Centralizar a imagem de fundo */
    z-index: -1;
    /* Posicionar abaixo do conteúdo do container pai */
    
}

.jogos::after {
    content: "";
    /* Conteúdo vazio para o pseudo-elemento */
    position: absolute;
    /* Posicionamento absoluto para a imagem de fundo */
    top: -20%;
    /* Alinhado ao topo do container pai */
    left: -65%;
    /* Alinhado à metade da largura do container pai */
    width: 100%;
    /* Largura do pseudo-elemento */
    height: 100%;
    /* Altura do pseudo-elemento */
    background-image: url("../img/fundo_tecnologia.png");
    /* Imagem de fundo */
    background-size: 100vw;
    /* Tamanho da imagem de fundo */
    background-repeat: no-repeat;
    /* Não repetir a imagem de fundo */
    background-position: center;
    /* Centralizar a imagem de fundo */
    z-index: -1;
    opacity: 0.5;
    /* Posicionar abaixo do conteúdo do container pai */
}

.jogos__titulo {
    font-size: 1.5rem;
    padding: 2rem 0 1rem 0rem;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: 700;
}

.lista__jogos {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    justify-content: space-between;
}

.lista__item {
    flex: 1;
    /* Faz com que cada item da lista ocupe o mesmo espaço */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    word-wrap: break-word;
    /* Permite a quebra de palavras */
    text-align: center;
}

.lista__item img {
    width: 12rem;
    /* Alterado para garantir que a imagem caiba no contêiner do item da lista */
    height: auto;
    /* Mantém a proporção da imagem */
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.lista__item h3 {
    text-align: center;
    word-wrap: break-word;
    font-weight: 500;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    padding: 0.5rem;
    /* Permite que o texto quebre para a próxima linha */
    overflow-wrap: break-word;
    /* Para navegadores que não suportam word-wrap */
}

@media (min-width: 1024px) {

    .jogos {
        margin-top: 4rem;
    }

    .jogos__titulo {
        font-size: 3.5rem;
        -webkit-filter: drop-shadow(2px 2px 2px #222);
        filter: drop-shadow(2px 2px 2px #222);
        padding: 6rem 0 4rem 0rem;
        margin-bottom: 2rem;
        text-align: center;
        font-weight: 700;
    }

    .lista__jogos {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 3rem;
        justify-content: space-between;
    }

    .lista__item h3 {
        text-align: center;
        word-wrap: break-word;
        font-weight: 500;
        font-size: 2rem;
        -webkit-filter: drop-shadow(5px 5px 5px #222);
        filter: drop-shadow(5px 5px 5px #222);
        padding: 0.5rem;
        /* Permite que o texto quebre para a próxima linha */
        overflow-wrap: break-word;
        /* Para navegadores que não suportam word-wrap */
    }

    .jogos::before {
        content: "";
        /* Conteúdo vazio para o pseudo-elemento */
        position: absolute;
        /* Posicionamento absoluto para a imagem de fundo */
        top: 20%;
        /* Alinhado ao topo do container pai */
        left: 50%;
        /* Alinhado à metade da largura do container pai */
        width: 100%;
        /* Largura do pseudo-elemento */
        height: 100%;
        /* Altura do pseudo-elemento */
        background-image: url("../img/quadradro.png");
        /* Imagem de fundo */
        background-size: 50vw;
        /* Tamanho da imagem de fundo */
        background-repeat: no-repeat;
        /* Não repetir a imagem de fundo */
        background-position: center;
        /* Centralizar a imagem de fundo */
        z-index: -1;
        /* Posicionar abaixo do conteúdo do container pai */
    }

    .jogos::after {
        content: "";
        /* Conteúdo vazio para o pseudo-elemento */
        position: absolute;
        /* Posicionamento absoluto para a imagem de fundo */
        top: -15%;
        /* Alinhado ao topo do container pai */
        left: -45%;
        /* Alinhado à metade da largura do container pai */
        width: 100%;
        /* Largura do pseudo-elemento */
        height: 100%;
        /* Altura do pseudo-elemento */
        background-image: url("../img/fundo_tecnologia.png");
        /* Imagem de fundo */
        background-size: 70vw;
        /* Tamanho da imagem de fundo */
        background-repeat: no-repeat;
        /* Não repetir a imagem de fundo */
        background-position: center;
        /* Centralizar a imagem de fundo */
        z-index: -1;
        opacity: 0.5;
        /* Posicionar abaixo do conteúdo do container pai */
    }

    .lista__item img {
        width: 20rem;
        flex-grow: 1;
        /* Alterado para garantir que a imagem caiba no contêiner do item da lista */
        height: auto;
        /* Mantém a proporção da imagem */
        -webkit-filter: drop-shadow(5px 5px 5px #222);
        filter: drop-shadow(5px 5px 5px #222);
    }
}

@media (min-width: 1800px) {
    .jogos__titulo {
        font-size: 5rem;
        -webkit-filter: drop-shadow(2px 2px 2px #222);
        filter: drop-shadow(2px 2px 2px #222);
        padding: 8rem 0 4rem 0rem;
        margin-bottom: 2rem;
        text-align: center;
        font-weight: 700;
    }
    .lista__item img {
        width: 25rem;
        /* Alterado para garantir que a imagem caiba no contêiner do item da lista */
        height: auto;
        /* Mantém a proporção da imagem */
        -webkit-filter: drop-shadow(5px 5px 5px #222);
        filter: drop-shadow(5px 5px 5px #222);
    }
    .lista__item h3 {
        text-align: center;
        word-wrap: break-word;
        font-weight: 500;
        font-size: 3rem;
        -webkit-filter: drop-shadow(5px 5px 5px #222);
        filter: drop-shadow(5px 5px 5px #222);
        padding: 0.5rem;
        /* Permite que o texto quebre para a próxima linha */
        overflow-wrap: break-word;
        /* Para navegadores que não suportam word-wrap */
    }

    .Valorant{
        margin-bottom: 4rem;
        width: 40rem;
    }


}