.testando {
    width: 101vw;
    height: 101vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.teste {
    height: 100vh;
    scroll-snap-align: start;
}

.teste_2{
    height: 30vh;
    scroll-snap-align: start;
}

@media (min-width: 1024px) {
    .teste_2{
        height: 30vh;
        scroll-snap-align: start;
    }
}