.container__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    gap: 2rem;
}

.informacoes__titulo {
    text-align: center;

}

.container {
    overflow: hidden;
}

.container__background {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: relative;
}

.container__info::before {
    gap: 1rem;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 2rem;
    left: 0;
    background-image: url(img/teclado-de-jogos-para-objeto-monocromatico-de-vetor-de-pc-ou-elemento-de-design-isolado-no-fundo-branco_258353-871-removebg-preview.png);
    /* Insira o URL da sua imagem aqui */
    background-repeat: no-repeat;
    background-size: 25rem;
    background-position: center;
    opacity: 0.1;
    /* Ajuste a opacidade conforme necessário, 0.5 é 50% de opacidade */
    transform: rotate(10deg) scale(0.9);
    z-index: -1;
}

.nowrap {
    white-space: nowrap;
}


.container__info h1 {
    font-size: 2rem;
    font-weight: 700;
    -webkit-filter: drop-shadow(2px 2px 2px #222);
    filter: drop-shadow(2px 2px 2px #222);
    text-align: center;
    width: 80%;

}

.container__info p {
    padding: 1rem;
    text-align: justify;
    font-size: 0.8rem;
    font-weight: 500;
}

.INSCREVA {
    color: var(--preto);
    font-weight: 700;
    text-decoration: none;
    background-color: var(--branco);
    transition: 0.3s;
    padding: 1rem 2rem;
    border: 2px solid var(--branco);
    box-shadow: 0px 0px 9px 0px rgb(255, 255, 255);
    border-radius: 24px;
    font-size: 1rem;
}

.CONFIRA {
    color: var(--branco);
    font-weight: 700;
    background-color: var(--dourado);

    text-decoration: none;
    transition: 0.3s;
    border: 2px solid var(--branco);
    padding: 1rem 2rem;
    border-radius: 24px;
    box-shadow: 0px 0px 9px 0px rgb(255, 255, 255);
    font-size: 1rem;
}

.CONFIRA:hover,
.INSCREVA:hover {
    background-color: var(--azul-escuro);
    color: var(--branco);
}

.caixa__botao {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}