.Datas {
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.Datas__titulo {
    margin-top: 3rem;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

.Datas__lista {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    align-items: center;
    gap: 1rem;
}

.Datas__itens {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 70%;
    position: relative;
    background-color: var(--dourado);
    -webkit-filter: drop-shadow(2px 2px 2px #222);
    filter: drop-shadow(2px 2px 2px #222);
    border: 3px solid #107291;
    border-radius: 24px;
    font-weight: 700;
    color: white;
    padding: 1rem;
}

.Datas__itens:nth-child(odd) {
    justify-content: center;
    border: 2px solid var(--dourado);
    background-color: #107291;
}

.Datas__texto_1 {
    font-weight: 700;
    text-align: center;
}

.Datas__texto_2 {
    font-weight: 700;
}

.Datas__itens img {
    width: 2rem;
    height: 2rem;
}

.borda {
    border: 2px solid var(--branco);
    border-radius: 24px;
    padding: 0.3rem 0.5rem;
}



.borda_1 {
    padding: 0.3rem;
}