.Datas {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
}

.Datas::before {
    content: "";
    /* Conteúdo vazio para o pseudo-elemento */
    position: absolute;
    /* Posicionamento absoluto para a imagem de fundo */
    top: 20%;
    /* Alinhado ao topo do container pai */
    left: 00%;
    /* Alinhado à metade da largura do container pai */
    width: 100%;
    /* Largura do pseudo-elemento */
    height: 100%;
    /* Altura do pseudo-elemento */
    background-image: url('img/bolinhas.png');
    /* Imagem de fundo */
    background-size: 150vw;
    /* Tamanho da imagem de fundo */
    background-repeat: no-repeat;
    /* Não repetir a imagem de fundo */
    background-position: center;
    /* Centralizar a imagem de fundo */
    z-index: -1;
    opacity: 0.3;
    /* Posicionar abaixo do conteúdo do container pai */
}

.Datas::after {
    content: "";
    /* Conteúdo vazio para o pseudo-elemento */
    position: absolute;
    /* Posicionamento absoluto para a imagem de fundo */
    top: -20%;
    /* Alinhado ao topo do container pai */
    left: 00%;
    /* Alinhado à metade da largura do container pai */
    width: 100%;
    /* Largura do pseudo-elemento */
    height: 100%;
    /* Altura do pseudo-elemento */
    background-image: url('img/bolinhas.png');
    /* Imagem de fundo */
    background-size: 150vw;
    /* Tamanho da imagem de fundo */
    background-repeat: no-repeat;
    /* Não repetir a imagem de fundo */
    background-position: center;
    /* Centralizar a imagem de fundo */
    z-index: -1;
    opacity: 0.4;
    /* Posicionar abaixo do conteúdo do container pai */
}

.Datas__titulo {
    margin-top: 3rem;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    -webkit-filter: drop-shadow(2px 2px 2px #222);
    filter: drop-shadow(2px 2px 2px #222);
}

.Datas__lista {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    align-items: center;
    gap: 1rem;
}

.Datas__itens {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 70%;
    position: relative;
    background-color: var(--dourado);
    -webkit-filter: drop-shadow(2px 2px 2px #222);
    filter: drop-shadow(2px 2px 2px #222);
    border: 3px solid #107291;
    border-radius: 24px;
    font-weight: 700;
    color: white;
    padding: 1rem;
}

.Datas__itens:nth-child(odd) {
    justify-content: center;
    border: 2px solid var(--dourado);
    background-color: #107291;
}

.Datas__texto_1 {
    font-weight: 700;
    text-align: center;
}

.Datas__texto_2 {
    font-weight: 700;
}

.Datas__itens img {
    width: 2rem;
    height: 2rem;
}

.borda {
    border: 2px solid var(--branco);
    border-radius: 24px;
    padding: 0.3rem 0.5rem;
}

.borda_1 {
    padding: 0.3rem;
}

@media (min-width: 1024px) {

    .Datas {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        position: relative;
        margin-top: 4rem;
    }

    .Datas__titulo {
        font-size: 3rem;
        padding-top: 5rem;
        font-weight: 700;
        text-align: center;
        -webkit-filter: drop-shadow(2px 2px 2px #222);
        filter: drop-shadow(2px 2px 2px #222);
    }

    .Datas__itens {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        width: 70%;
        position: relative;
        -webkit-filter: drop-shadow(2px 2px 2px #222);
        filter: drop-shadow(2px 2px 2px #222);
        border: 3px solid #107291;
        border-radius: 24px;
        font-weight: 700;
        background: linear-gradient(90deg, rgba(240, 175, 58, 1) 36%, rgba(213, 168, 62, 1) 67%, rgba(158, 118, 47, 1) 99%);
        color: white;
        padding: 1.75rem 1rem;
    }

    .Datas__itens:nth-child(odd) {
        justify-content: center;
        border: 2px solid var(--dourado);
        background: linear-gradient(90deg, rgba(0, 109, 139, 1) 0%, rgba(1, 147, 188, 1) 20%, rgba(1, 176, 218, 1) 38%, rgba(0, 210, 252, 1));

    }

    .Datas__texto {
        font-weight: 700;
        text-align: center;
        font-size: 1.5rem;
    }

    .borda {
        border: 2px solid var(--branco);
        border-radius: 24px;
        padding: 0.25rem 0.5rem;
        font-size: 1.5rem;
    }

    .borda_1 {
        padding: 0.5rem;
        font-size: 1.5rem;
    }

}