.Datas {
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.Datas__titulo {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

.Datas__lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.Datas__itens {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 10px;
    width: 140%;
    right: -30vw;
    position: relative;
    background-color: #A1960E;
    border: 0.1px solid var(--preto);
    font-weight: 700;
    color: white;
    padding: 1rem;
    transform: skewX(-20deg);
}

.Datas__itens:nth-child(odd) {
    justify-content: flex-end;
    background-color: #107291;
    transform: skewX(20deg);
    left: -30vw;
}

.Datas__texto_1 {
    font-weight: 700;
    transform: skewX(-20deg);
}

.Datas__texto_2 {
    font-weight: 700;
    transform: skewX(20deg);
}

.Datas__itens img {
    width: 2rem;
    height: 2rem;
    transform: skewX(-20deg);
}

.borda {
    border: 2px solid var(--branco);
    border-radius: 24px;
    padding: 0.3rem 0.5rem;
    transform: skewX(-20deg);
}


.borda_a {
    transform: skewX(20deg);
}

.borda_1 {
    padding: 0.3rem;
    transform: skewX(20deg);
}