.jogos {
    margin-top: 14rem;

}

.jogos__titulo {
    font-size: 1.5rem;
    padding: 2rem 0 2rem 0rem;
    text-align: center;
    font-weight: 700;
}

.lista__jogos {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    justify-content: space-between;
}

.lista__item {
    flex: 1;
    /* Faz com que cada item da lista ocupe o mesmo espaço */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    word-wrap: break-word;
    /* Permite a quebra de palavras */
    text-align: center;
}

.lista__item img {
    width: 60%;
    /* Alterado para garantir que a imagem caiba no contêiner do item da lista */
    height: auto;
    /* Mantém a proporção da imagem */
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.lista__item h3 {
    text-align: center;
    word-wrap: break-word;
    font-weight: 500;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    padding: 0.5rem;
    /* Permite que o texto quebre para a próxima linha */
    overflow-wrap: break-word;
    /* Para navegadores que não suportam word-wrap */
}