.jogos {
    margin-top: 14rem;
    
}

.jogos__titulo {
    font-size: 1.5rem;
    padding: 1rem 0 2rem 0rem;
    text-align: center;
    font-weight: 700;
}

.lista__jogos {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.lista__item img {
    border-radius: 20%;
    box-shadow: 20px 23px 29px -21px rgba(0,0,0,0.75);
    width: 30vw; /* Ajuste conforme necessário */
    height: 30vw;

}

.lista__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}