@import url(header.css);
@import url(container.css);
@import url(jogos.css);
@import url(informacoes.css);
@import url(Datas.css);
@import url(fundos.css);

:root {
    --dourado: #c99d4e;
    --azul-escuro: #152665;
    --cinza-claro: #d4dfdf;
    --azul-turquesa: #07acc3;
    --preto: #050918;
    --azul-petróleo: #1186a9;
    --vermelho: #d41550;
    --azul-claro: #1398bd;
    --azul-marinho: #076796;
    --amarelo: #f9f01f;
    --branco: #f2f2f2;
    --fonte-principal: "Poppins";
    --fundo: linear-gradient(180deg, #050918 40.49%, #152665 165.37%);
    --fonte-secundaria: "Josefin Sans";
}

body {
    background-image: var(--fundo);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    color: var(--branco);
    padding: 2rem;
}

body,
html {
    overflow-x: hidden;
    /* Esconde o overflow horizontal */
    max-width: 100vw;
    /* Define a largura máxima como a largura da viewport */
    position: relative;
}